/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    text-wrap: pretty;
}


body {
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}





body {
    font-family: "Poppins", "Onest", Serif, Sans-serif, Monospace;
    padding: 1rem;
    overflow-x: hidden;
    
}
h1{
    font-size: 2rem;
}
h2{
    display: flex;
    align-items: center;
    font-size: 1.87rem;
}
h2 svg{
    width: 1.87rem;
    height: 1.87rem;
    margin: 0.8rem;
}


body{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* margin-bottom: 20rem; */
}

a[aria-current="page"] {
    color: red; /* Cambia esto al estilo deseado */
    font-weight: bold;
  }



/* animacion de movimiento del camion */





/* section::before{
    background-color: navy;
    position: absolute;
    border: 10px solid navy;
    width: 10px;
    height: 20px;
    margin-left: 10px;
} */

.icon-truck{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 800px;
    bottom: 0px;
    
    
    transform: rotateY(160deg);
    animation: animationTruckIndexPage 1s reverse ease-in both;
    
    
}
.icon-truck-form-contact{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 800px;
    animation: desplazamientoDerechaTruckFormContact 1s ease-in both;


}
.icont-flag-form-contact{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 90%;
}
@keyframes desplazamientoDerechaTruckFormContact {
    0%{
    
        left: 0%;
        }
        
        100%{
            /* si QUEREMOS QUE EL ELEMENTO ANIMABLE ESTE DENTRO DE LOS
            LIMITES DEL CONTENEDOR ===  el 100% del contenedor menos el radio del div animable para que quede dentro del contenedor */
         left: calc(79%);
        }
    
}


@keyframes animationTruckIndexPage {
    to{
        opacity: 0;
        right: 0%;
        
    }
    from{
        opacity: 1;
        right: calc(40%);
    }
    
    
    
}

