<style>
    .icon-elegirnos {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        animation: translateRightFuLL 1.5s linear ;

        inset: 0;
        margin: 0 auto;
        margin-top: -30px;
        
      
    }

    @keyframes translateRightFuLL {
        0% {
            top: 0%;
        }

        100% {
            top: calc(100% + 15px)
        }
    }
</style>


<div class=" flex flex-col">
    <div class="w-fit mx-auto  border rounded p-3">
        <h2>¿Porque elegirnos?</h2>
    </div>
    <span class="line  w-1 h-10 border mx-auto"></span>
    <hr class="line-div-concepts">
    <div id="container-concepts" class="sm:flex gap-2">

        <div class="flex flex-col">
            <span class="line  w-1 h-6 border mx-auto"></span>
            <span  class="mx-auto  ">Precios</span>
            <span class="line  w-1 h-6 border mx-auto"></span>
            <p class="p-1 border rounded">Reprehenderit, cumque temporibus! Veritatis cupiditate minima nam facilis iusto in reprehenderit harum fugit temporibus voluptas dolorum itaque voluptatem enim, doloremque eligendi amet?</p>
           
        </div>

        <div class="flex flex-col">
            <span class="line  w-1 h-6 border mx-auto"></span>
            <span  class="mx-auto  ">Cotizar</span>
            <span class="line  w-1 h-6 border mx-auto"></span>
            <p class="p-1 border rounded">Reprehenderit, cumque temporibus! Veritatis cupiditate minima nam facilis iusto in reprehenderit harum fugit temporibus voluptas dolorum itaque voluptatem enim, doloremque eligendi amet?</p>
           
        </div>

        <div class="flex flex-col">
            <span class="line  w-1 h-6 border mx-auto"></span>
            <span  class="mx-auto  ">Calidad</span>
            <span class="line  w-1 h-6 border mx-auto"></span>
            <p class="p-1 border rounded">Reprehenderit, cumque temporibus! Veritatis cupiditate minima nam facilis iusto in reprehenderit harum fugit temporibus voluptas dolorum itaque voluptatem enim, doloremque eligendi amet?</p>
           
        </div>
        
        
        

        
    </div>

  
    
</div>