<style>
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        
    }
    

    .header-nav img{
        width: 100px;

    }
    .header-nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .header-nav .cotizar-button{
       
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

</style>
<header>
    <nav class="header-nav" class="">
        <div>
            <img src="https://imgs.search.brave.com/KazYWo8Rm2Yl2hcE2f9rrX01S6D6CddE0iJxxxQkvZs/rs:fit:500:0:0:0/g:ce/aHR0cDovL3d3dy5j/bGlwYXJ0YmVzdC5j/b20vY2xpcGFydHMv/NGliL0xNZS80aWJM/TWVBS1QucG5n" alt="">
        </div>
        <div>
            <ul>
                <li><a href="/about-as" aria-label="Ir a la sección de sobre nosotros">Sobre nosotros</a></li>
                <li> <a href="/contact-as" aria-label="Ir a la sección de Habilidades">Contactenos</a></li>
            </ul>
            
        </div>
        <div>
            <a href="/cotizar" class="border cotizar-button" aria-label="Ir a la sección de Cotizar ">Cotizar</a>
        </div>
        
    </nav>
</header>

